/** {
  border: 1px solid red;
}*/

/*html { 
  background: url(images/menu_bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/


header, nav, footer, div {
  box-sizing: border-box;
}

body {
  width: 100%;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: serif;
  font-weight: 300;
  font-size: 16px;
  font-color: gray;
  background-color: transparent;
}

a {
  color: #4d3319;
}

a:hover {
  color: #4d3319;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding-top: 6px;
  padding-bottom: 6px;
}

.messages {
  background-color: #f0f0f5;
}

.new_item {
  padding-bottom: 10px;
}

.restaurant {
  width: 100%;
}

.creator {
  max-width: 100px;
}

.session {
  max-width: 200px;
  font-size: 10pt;
  margin-top: 20px;
  border-top: thick double lightblue;
}

.session p {
  padding-top: 5px;
}

.new_item {
  max-width: 200px;
  margin-bottom: 20px;
  border-bottom: thick double lightblue;
}

.creator {
  max-width: 200px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: thick double lightblue;
  border-top: thick double lightblue;
}

.course_header {
  margin-top: 20px;
}

.item_actions td {
  padding: 2px;
}

.restaurant {
  margin-top: 15px;
}

.home_link {
  margin-top: 20px;
}

.item_name {
  margin-top: 15px;
}