<!DOCTYPE html>
<html>
    <head>
        <title>Menu Builder</title>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    </head>
    <body class="container">
        <header>
            <div class="title">
                <h1>{{restaurant.name}}</h1>
            </div>
            <div class="messages">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}
            </div>
            <div class="item_actions">
                <table>
                    <tr>
                        <td>
                            <a href="{{url_for('restaurants')}}" class="btn btn-default">
                            More Restaurants
                            </a>
                        </td>
                        {% if user %}
                        {% if user.id == restaurant.user_id %}
                        <td>
                            <a href="{{url_for('newMenuItem', restaurant_id=restaurant.id)}}" 
                            class="btn btn-default">
                            New Menu Item
                            </a>
                        </td>
                        {% endif %}
                        {% endif %}                        
                    </tr>
                </table>
            </div>
        </header>
        <content>
            <div class="creator">
                <p>Menu by {{creator.name}}</p> 
                <p><img src="{{creator.picture}}" class="img-responsive"></p>                
            </div>
            {% if appetizers %}
            <h2 class="course_header">Appetizers</h2>
                {% for a in appetizers %}
                <div class="item">
                    <h3 class="item_name">{{a.name}}</h3>
                    <p class="item_description">{{a.description}}</p>
                    <p class="item_price">{{a.price}}</p>
                </div>
                {% if user %}
                {% if user.id == restaurant.user_id %}
                <div class="item_actions">
                    <table>
                        <tr>
                            <td>
                                <a href="{{url_for('editMenuItem', restaurant_id=restaurant.id, item_id=a.id)}}" class="btn btn-default">
                                Edit
                                </a>
                            </td>
                            <td>
                                <a href="{{url_for('deleteMenuItem', restaurant_id=restaurant.id, item_id=a.id)}}" class="btn btn-default">
                                Delete
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                {% endif %}
                {% endif %}    
                {% endfor %}
            {% endif %}
            {% if entrees %}
            <h2 class="course_header">Entrees</h2>
                {% for e in entrees %}
                <div class="item">
                    <h3 class="item_name">{{e.name}}</h3>
                    <p class="item_description">{{e.description}}</p>
                    <p class="item_price">{{e.price}}</p>
                </div>
                {% if user %}
                {% if user.id == restaurant.user_id %}
                <div class="item_actions">
                    <table>
                        <tr>
                            <td>
                                <a href="{{url_for('editMenuItem', restaurant_id=restaurant.id, item_id=e.id)}}" class="btn btn-default">
                                Edit
                                </a>
                            </td>
                            <td>
                                <a href="{{url_for('deleteMenuItem', restaurant_id=restaurant.id, item_id=e.id)}}" class="btn btn-default">
                                Delete
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                {% endif %} 
                {% endif %} 
                {% endfor %}    
            {% endif %}
            {% if desserts %}      
            <h2 class="course_header">Desserts</h2>
                {% for d in desserts %}
                <div class="item">
                    <h3 class="item_name">{{d.name}}</h3>
                    <p class="item_description">{{d.description}}</p>
                    <p class="item_price">{{d.price}}</p>
                </div>
                {% if user %}
                {% if user.id == restaurant.user_id %}
                <div class="item_actions">
                    <table>
                        <tr>
                            <td>
                                <a href="{{url_for('editMenuItem', restaurant_id=restaurant.id, item_id=d.id)}}" class="btn btn-default">
                                Edit
                                </a>
                            </td>
                            <td>
                                <a href="{{url_for('deleteMenuItem', restaurant_id=restaurant.id, item_id=d.id)}}" class="btn btn-default">
                                Delete
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                {% endif %} 
                {% endif %} 
                {% endfor %}
            {% endif %}          
            {% if beverages %}
            <h2 class="course_header">Beverages</h2>
                {% for b in beverages %}
                <div class="item">
                    <h3 class="item_name">{{b.name}}</h3>
                    <p class="item_description">{{b.description}}</p>
                    <p class="item_price">{{b.price}}</p>
                </div>
                {% if user %}
                {% if user.id == restaurant.user_id %}
                <div class="item_actions">
                    <table>
                        <tr>
                            <td>
                                <a href="{{url_for('editMenuItem', restaurant_id=restaurant.id, item_id=b.id)}}" class="btn btn-default">
                                Edit
                                </a>
                            </td>
                            <td>
                                <a href="{{url_for('deleteMenuItem', restaurant_id=restaurant.id, item_id=b.id)}}" class="btn btn-default">
                                Delete
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            {% endif %} 
            <div class="session">
                {% if not user %}
                <p><a href="/login" class="btn btn-default">Sign In</a></p>
                {% endif %}                
                {% if user %}
                <p>Signed in as {{user.name}}</p>
                <p><img src={{user.picture}} class="img-responsive"></p>
                <p><a href="{{url_for('disconnect')}}" class="btn btn-default">Sign Out</a></p>
                {% endif %}
            </div>
        </content>
    </body>
</html>